
set ::INSTR_LENGTH 3
set ::INSTR_EXTEST 0x00
set ::INSTR_IDCODE 0x01
set ::INSTR_SAMPLE_PRELOAD 0x02
set ::INSTR_USER_REG 0x03
set ::INSTR_BYPASS 0x07

proc read_idcode { tap } {
    global INSTR_LENGTH
    global INSTR_IDCODE
	set data 0xc0fe
	irscan $tap.tap $INSTR_IDCODE
    set ret [drscan $tap.tap 32 $data] 
    return $ret
}

proc loop_read_idcode { tap } {
    global INSTR_LENGTH
    global INSTR_IDCODE
	set data 0xc0fe
    while { 1 } {	
        puts "load $INSTR_IDCODE"
        irscan $tap.tap $INSTR_IDCODE
        set ret [drscan $tap.tap 32 $data]
    } 
}


source [find interface/jlink.cfg]
transport select jtag

set SPEED 2000

jtag_rclk $SPEED
adapter speed $SPEED
reset_config none

puts "Creating tap"
# creat new tap 
set _CHIPNAME tpu

jtag newtap $_CHIPNAME tap -irlen $INSTR_LENGTH -expected-id 0x1beef0d7

puts "init" 
init

puts "starting idcode scan"
puts "idcode : [read_idcode $_CHIPNAME]"

#loop_read_idcode $_CHIPNAME
