
set ::INSTR_LENGTH 3
set ::INSTR_EXTEST 0x00
set ::INSTR_IDCODE 0x01
set ::INSTR_SAMPLE_PRELOAD 0x02
set ::INSTR_USER_REG 0x03
set ::INSTR_BYPASS 0x07

# USER REG DEFINES
set ::USER_REG_W 0x08
set ::USER_REG_UNIT_MAX 0x03
set ::USER_REG_REG_MAX 0x03

# BOUNDARY SCAN 
set ::BOUNDARY_SCAN_LENGTH 20 

proc assert {cond {msg "assertion failed"}} {
    if {![uplevel 1 [list expr $cond]]} {
        error $msg
    }
}

proc read_idcode { tap } {
    global INSTR_IDCODE
	set data 0xc0fe
	irscan $tap.tap $INSTR_IDCODE -endstate IDLE
    set ret [drscan $tap.tap 32 $data -endstate IDLE] 
    return $ret
}

proc debug_loop_read_idcode { tap } {
    global INSTR_IDCODE
	set data 0xc0fe
    while { 1 } {	
        puts "load $INSTR_IDCODE"
        irscan $tap.tap $INSTR_IDCODE -endstate IDLE
        set ret [drscan $tap.tap 32 $data -endstate IDLE]
    } 
}

proc boundary_scan { tap } {
	global INSTR_SAMPLE_PRELOAD
	global BOUNDARY_SCAN_LENGTH
	set data 0x0
	irscan $tap.tap $INSTR_SAMPLE_PRELOAD -endstate IDLE
	set ret [drscan $tap.tap $BOUNDARY_SCAN_LENGTH $data -endstate IDLE]
	return $ret
}

proc extest { tap val } {
	global INSTR_EXTEST
	global BOUNDARY_SCAN_LENGTH
	puts "extest writting $val"
	irscan $tap.tap $INSTR_EXTEST -endstate IDLE
	set ret [drscan $tap.tap $BOUNDARY_SCAN_LENGTH $val -endstate IDLE]
	return $ret
}


# print the user reg name corresponding to reg 
proc print_reg_id { reg } {
    switch $reg {
       0 { return "weight" }
       1 { return "multiplicant ( input data )" }
       2 { return "summand ( input data )" }
       3 { return "operation overflow bits" }
       default { assert {0} "unexpected register id, got : $reg" }
    }
}

# read internal mac unit register, used for debugging mac operations
proc read_user_reg { tap unit reg } {
    global INSTR_USER_REG
    global USER_REG_W
    global USER_REG_UNIT_MAX
    global USER_REG_REG_MAX

	#puts "read_user_reg tap=$tap unit=$unit reg=$reg"
    
    assert {$unit <= $USER_REG_UNIT_MAX}
    assert { $reg <= $USER_REG_REG_MAX } 
    
    set addr [expr {$unit*4+$reg}]
    irscan $tap.tap $INSTR_USER_REG -endstate IDLE 
    drscan $tap.tap $USER_REG_W $addr -endstate IDLE 
    set ret [drscan $tap.tap $USER_REG_W 0x0]
    return $ret
}
 
source [find interface/jlink.cfg]
transport select jtag

set SPEED 2000

jtag_rclk $SPEED
adapter speed $SPEED
reset_config none

#adapter serial 260111993

# set default ports from default for multi-jtag mode
tcl port 6667
telnet port 4445 

# creat new tap 
set _CHIPNAME tpu

jtag newtap $_CHIPNAME tap -irlen $INSTR_LENGTH -expected-id 0x1beef0d7

init

puts "idcode : [read_idcode $_CHIPNAME]"

for {set u 0} {$u <= $USER_REG_UNIT_MAX} {incr u} {
    for {set r 0} {$r <= $USER_REG_REG_MAX} {incr r} {
        puts "read internal register $u:$r : 0x[read_user_reg $_CHIPNAME $u $r] - [print_reg_id $r]"  
    }
}

# Boundary scan functions: read/write
# puts "boundary scan [boundary_scan $_CHIPNAME]"
# extest $_CHIPNAME 0xfffff
# extest $_CHIPNAME 0x0
